*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.75),#313131), url("pexels-ivan-samkov-6436185.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul  li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::before{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::before{
    width: 100%;
}

.home{
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;

}

.home h1{
    font-size: 60px;
    margin-top: 140px;

}

.home p{
    font-size: 19px;
    font-weight: 100;
    margin: 30px auto;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
